html
  head
    title=title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(src="javascripts/todoApp.js")
    
    link(href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="stylesheets/style.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")

  body(ng-app="todoApp")
    nav(class="navbar-fluid navbar-default navbar-fixed-top")
        div(class="container-fluid")
          div(class="navbar-header")
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class="navbar-brand" href="#") TODO Manager
            p(class="navbar-text") First MEAN app
          nav(class='collapse navbar-collapse' id='myNavbar')
            ul(class='nav navbar-nav navbar-right')
              li(ng-hide="authenticated")
                a(class="text-right" href="#/register") #[span(class="glyphicon glyphicon-user")] Register
              li(ng-hide="authenticated")
                a(class="text-right" href="#/login") #[span(class="glyphicon glyphicon-log-in")] Login
              li(ng-show="authenticated")
                a(class="text-right" href="#/login" ng-click="signout()") #[span(class="glyphicon glyphicon-log-out")] Logout
    div(class="container-fluid")
      div(ng-view)