body {
  padding: 50px;
  font-family: 'Merriweather', serif;
}

a {
  color: #00B7FF;
}

.jumbotron{
  margin-top:5%;
}

.counter {
  padding-left: 10px;
  padding-right: 10px;
  border:1pt solid #0089FA;
  border-radius: 15%;
  background-color:#0089FA;
  color: white;
}



.form-auth {
  margin-top: 10%;
}